.App {
  text-align: center;
  margin-top: 80px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#single-view-card {
  width: 35%;
  background-color: rgb(247, 247, 198);
}
#item-recipe {
  width: 27%;
  background-color: rgb(247, 247, 198);
}
.modal-submit-login-register {
  background-color: olive !important;
  color: white !important;  
}
.modal-submit-login-register:hover{
  background-color: rgb(164, 164, 27) !important;
} 
.login-register-modal-buttons{
  background-color: olive !important;
  color: white !important;    
}
.login-register-modal-buttons:hover{
  background-color: rgb(164, 164, 27) !important; 
}
#checkbox-on {
  padding-bottom: 2%;
  background: rgb(247, 247, 198) !important;
}
#checkbox-off {
  padding-bottom: 2%;
  background: rgb(247, 247, 198) !important;
}
#list-item{
  color: black;
  font-style: italic;
}
#landing-paragraph {
  font-size: 20px;
}
.modal-header{
  background: olive !important;
  color: white !important;
  text-align: center;
}
.modal-content{
  background: rgb(247, 247, 198) !important;
}
.modal-actions{
  background: rgb(247, 247, 198) !important;
}
#landing-page-image{
  width: 30%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
#edit-new-button{
  background: olive !important;
}
.nav-bar{
  background-color: rgb(247, 247, 198) !important;
  height: auto;

}
#title-navbar{
  font-style: bold !important;
  font-size: 125%;
}

.edit-modal-open-button{
  background-color: olive !important;
  color: white !important;
}
.edit-modal-open-button:hover{
  background-color: rgb(164, 164, 27) !important;
}
.delete-modal-open-button{
  background-color: rgba(172, 23, 23, 0.845) !important;
  color: white !important;
}
.delete-modal-open-button:hover{
  background-color: rgb(255, 0, 0) !important;
}
.landing-page-container{
  text-shadow: 1px 1px 20px rgb(247, 247, 198) !important; 
}
#search-field{
  max-width: 40% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.hidden-form{
  display: none;
}