.App {
  text-align: center;
  margin-top: 100px !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .landing-page-image {
    animation: rotation infinite 20s linear !important;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#single-view-card {
  width: 35%;
  background-color: rgb(247, 247, 198);
}
#item-recipe {
  width: 27%;
  background-color: rgb(247, 247, 198);
}
.modal-submit-login-register {
  background-color: olive !important;
  color: white !important;  
}
.modal-submit-login-register:hover{
  background-color: rgb(164, 164, 27) !important;
} 
.login-register-modal-buttons{
  font-family: 'Libre Baskerville', serif !important;
  background-color: olive !important;
  color: white !important;    
}
.login-register-modal-buttons:hover{
  background-color: rgb(164, 164, 27) !important; 
}
#checkbox-on {
  padding-bottom: 2%;
  background: rgb(247, 247, 198) !important;
}
#checkbox-off {
  padding-bottom: 2%;
  background: rgb(247, 247, 198) !important;
}
#list-item{
  color: black;
  font-style: italic;
}
#landing-paragraph {
  text-shadow: 1px 1px 4px rgb(247, 247, 198) !important;
  font-size: 22px;
}
.modal-header{
  background: olive !important;
  color: white !important;
  text-align: center;
}
.modal-content{
  background: rgb(247, 247, 198) !important;
}
.modal-actions{
  background: rgb(247, 247, 198) !important;
}
.landing-page-image{
  width: 25%;
  height: auto;
  transform: rotate(90deg) !important;
  border-radius: 6% !important;
  overflow: hidden ;
  margin-left: auto;
  margin-right: auto; 
  
}

#edit-new-button{
  background: olive !important;
}
.nav-bar{
  background-color: rgb(247, 247, 198) !important;
  height: auto;

}
#title-navbar{
  font-style: bold !important;
  font-size: large !important;
  font-family: 'Libre Baskerville', serif !important;
}

.edit-modal-open-button{
  font-family: 'Libre Baskerville', serif !important;
  background-color: olive !important;
  color: white !important;
}
.edit-modal-open-button:hover{
  background-color: rgb(164, 164, 27) !important;
}
.delete-modal-open-button{
  font-family: 'Libre Baskerville', serif !important;
  background-color: rgba(172, 23, 23, 0.845) !important;
  color: white !important;
}
.delete-modal-open-button:hover{
  background-color: rgb(255, 0, 0) !important;
}
.landing-page-container{
  text-shadow: 1px 1px 20px rgb(247, 247, 198) !important;
  font-family: 'Josefin Sans', sans-serif !important;
}

#landing-page-title{
  font-size: 40px !important;
  text-shadow: 1px 1px 20px rgb(247, 247, 198) !important;
}
.search-bar{
  padding-top: 2% !important;
}
#search-field{
  max-width: 40% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.hidden-form{
  display: none;
}
#my-cookbook{
  font-family: 'Libre Baskerville', serif !important;
  background-color: olive !important;
  color: white !important;
}
#my-cookbook:hover{
  background-color: rgb(164, 164, 27) !important;
}
#search-spoonacular{
  font-family: 'Libre Baskerville', serif !important;
  background-color: olive !important;
  color: white !important;
}
#search-spoonacular:hover{
  background-color: rgb(164, 164, 27) !important;
}
#shared-recipes{
  font-family: 'Libre Baskerville', serif !important;
  background-color: olive !important;
  color: white !important;
}
#shared-recipes:hover{
  background-color: rgb(164, 164, 27) !important;
}
#logout-navbar{
  font-family: 'Libre Baskerville', serif !important;
  background-color: olive !important;
  color: white !important;
}
#logout-navbar:hover{
  background-color: rgb(164, 164, 27) !important;
}
#saved-recipes{
  font-family: 'Libre Baskerville', serif !important;
  background-color: olive !important;
  color: white !important;
}
#saved-recipes:hover{
  background-color: rgb(164, 164, 27) !important;
}
#create-recipe-button{
  font-family: 'Libre Baskerville', serif !important;
  background-color: olive !important;
  color: white !important;
}
#create-recipe-button:hover{
  background-color: rgb(164, 164, 27) !important;
}
#welcome-user{
  font-size: large !important;
  font-family: 'Libre Baskerville', serif !important;
}
#add-ingredient-button{
  font-family: 'Libre Baskerville', serif !important;
  background-color: olive !important;
  color: white !important
}
#add-ingredient-button:hover{
  background-color: rgb(164, 164, 27) !important;
}
#delete-ingredient{
  background-color: rgba(172, 23, 23, 0.845) !important;
  color: white !important;
}
#delete-ingredient:hover{
  background-color: rgb(255, 0, 0) !important;
}
#back-button{
  font-family: 'Libre Baskerville', serif !important;
  background-color: rgb(62, 62, 57) !important;
  color: white !important
}
#back-button:hover{
  background-color: rgb(75, 75, 71) !important;
}
.error-modal-header{
  font-family: 'Libre Baskerville', serif !important;
  background: olive !important;
  color: white !important;
  text-align: center;
}
.error-modal-content{
  background: rgb(247, 247, 198) !important;
}
.error-modal-actions{
  background: rgb(247, 247, 198) !important;
}
.error-modal-buttons{
  font-family: 'Libre Baskerville', serif !important;
  background-color: rgb(62, 62, 57) !important;
  color: white !important
}
.error-modal-buttons:hover{
  background-color: rgb(75, 75, 71) !important;
}
#error-modal-paragraph{
  font-family: 'Libre Baskerville', serif !important;
  text-align: center !important;
  font-style: bold !important;
  font-size: 18px !important;
}
#search-button {
  background-color: olive !important;
  font-family: 'Libre Baskerville', serif !important;
  color: white !important;  
}
#search-button:hover{
  background-color: rgb(164, 164, 27) !important;
}
#card-header{
  font-family: 'Libre Baskerville', serif !important;
}
#back-button-saved-recipe{
  font-family: 'Libre Baskerville', serif !important;
  background-color: rgb(62, 62, 57) !important;
  color: white !important;
  margin-bottom: 2% !important;
}
#back-button-saved-recipe:hover{
  background-color: rgb(75, 75, 71) !important;
}
#show-saved-recipes{
  font-family: 'Libre Baskerville', serif !important;
  background-color: rgb(62, 62, 57) !important;
  color: white !important
}
#show-saved-recipes:hover{
  background-color: rgb(75, 75, 71) !important;
}
#saved-recipe-button-content{
  height: 6% !important;
  flex-grow: inherit !important;
}